.login-form {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin-top: 40px;
}

.login-form * {
    padding: 10px;
    margin: 8px;
}

.login-form-button {
    color: white;
    font-weight: bold;
    background: #EC8643;
    border: none;
    border-radius: 5px;
}

.login-form-button.deactivated:hover {
    background: #EC8643;
    cursor: auto;
}

.login-form-button:hover {
    background: rgba(92, 111, 125, 1);
    cursor: pointer;
}

.form-errors {
    font-size: 0.8rem;
    font-weight: normal;
    text-wrap: normal;
    color: orangered;
    display: block;
    height: 0;
}

.form-error-message-wrapper {
    position: relative;
}

.form-error-message {
    position: absolute;
    top: -30px;
    left: -20px;
    width: 100%;
}
