.App {
  text-align: center;
  font-size: 13px;
}

.horizontal-line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 1px solid #EC8643;
  margin: 20px 0;
}

.deactivated {
  opacity: 0.5;
}
